*{
    background-color: rgba(231, 248, 255, 0.911);
    margin: 0%;
}
/* fieldset{
    border: none;
} */
.heading{
    color: rgb(185, 9, 9);
    text-align: center;
    font-family: cursive;
    width: 100%;
    top: 0cm;
    padding: 0%;
    border-bottom:rgb(0, 0, 0) 1px solid;
    margin: auto;
}
.input-field{
    width: 85%;
    border-style:dotted;
    border-radius: 1cm;
    border-color: black;
}
.field{
    margin-top: 10px;
    padding: 0%;
}
.field1{
    border: white;
    padding: 0%;
}
.field2{
    width: 100vw;
    border: white;
    margin-top: 1%;
    padding:0%;
    text-align: center;
}
.group{
    text-align-last: center;
    margin-top: 1%;
    width: 50%;
    margin-left: 5%;
}
.group1{
    margin-top: 1%;
    border: none;
}
.group1 img{
    height: 115px;
    width: 115px;
    border: none ;
}
.group2{
    background-color:darkgrey;
    margin-top: 1%;
    border-top: black solid 1px;
    height: 50px;
    padding-top: 40px;
    text-align: center;
}
.group2 a{
    background-color: darkgrey;
}
 /* .container{
            width: 100%;
            text-align: center;
            display:flexbox;
            grid-template-columns:repeat(auto-fill, minmax(150px, 1fr));
            grid-gap: 10px;
            column-gap: 50px;
}
.item1{
    border: 2px black solid;
    grid-gap: 20px;
    /* margin: auto; */
    /* width: 50vw; */
    /* height: 70%;
}
#item-1{
    grid-column-start: 1;
    grid-column-end: 5;
}
.item-1-container{
    display: grid;
    grid-template-columns: repeat(3,  auto);
}
.nested-item{ */
    /* border: 3px black solid;
    border-radius: 3px;
    background-color: white;
} */ 
.container-1{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(115px, 1fr));
    grid-column-gap: 2px;
    height:auto;
}
.container-2{
    box-sizing: border-box;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(40vw, 1fr));
    grid-column-gap: 2px;
    height: auto;
}
.item1{
    border: 1px black solid;    
    text-align:center;
    /* margin: auto; */
    /* width: 50vw; */
    /* height:fit-content; */
}
/* .search{
    width: 100%;
} */

.navbar ul{
    margin: 0%;
    padding: 0%;
}
.navbar{
    width: 100vw;
    height: 4em;
    border: 2px solid black;
    overflow: hidden;
}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.navbar li{
    width: 31.5vw;
    float: left;
    list-style: none;
    height: 4px;
    text-align:center;
}
.mrp:hover{
    text-decoration:rgb(60, 60, 240) underline;
    font-weight: bold;
}
