 .flex-container{
     position: relative;
     display: flex;
     width: 50%;
     height:40%;
     flex-flow:row ;
     align-content: center;
 }
/* #Fullname{
    mix-blend-mode: multiply;
    border-color: black;
    border-style:dotted;
    font-weight:bold;
    height: 1vh;
}
#password{
    mix-blend-mode:multiply;
    border-color: black;
    border-style:dotted;
    font-weight:bold;
    height: 1vh;
}
#PhnNo{
    mix-blend-mode: multiply;
    border-color: black;
    border-style:dotted;
    font-weight:bold;
    height: 1vh;
}
#fullname{
    mix-blend-mode: multiply;
    border-color: black;
    border-style:dotted;
    font-weight:bold;
    height: 1vh;
}
#birth_date{
    mix-blend-mode: multiply;
    border-style:dotted;
    border-color: black;
    font-weight:bold;
    height: 1vh;
}  */
/* h1, form{
    text-align:center;
    color: rgb(34, 148, 148);
    font-weight: bolder;
    font-variant:small-caps;
    font-family:cursive;
    margin-block-start:3em;
} */
/* form{
    position: center;
    width: fit-content;
    text-align: center;
    text-decoration: powderblue;
}  */
 fieldset{
    height:50%;
    border:solid black;
    text-align:center;
}
/* p{ 
    text-align: center;
    font-weight:bold;
    font-style: italic;
    display:ruby;
}
legend{
    text-align: center;
    font-weight: bold;
    border-radius:bold;
    border-color:black;
} */ 
/* a:hover{
    color:darkblue;
    text-decoration: whitesmoke;
}
a:visited{
    color:darkred;
}
body fieldset input{
    margin: 1%;
    padding: 1vh;
    text-align:center;
    width: 80%;
}
@media all {
    .field{
        margin: 1%;
        padding: 1vh 1rem;
        position: relative;
    }
}
input[type="submit"]{
    z-index: 1;
    color: rgb(247, 238, 238);
    background-color:rgb(99, 11, 55);
    font-weight: bold;
    mix-blend-mode:normal;
    text-align:center;
    cursor: pointer;
    border-radius: 5px;
    padding:0px;
}
input[type="submit"]:hover{
    background-color:rgb(117, 20, 136);
}
@media all and (min-width: 500px) {
    input[type="submit"]{
        padding: 0vh;
        text-align: center;
    }
}
/* nav{
    background-color: black;
} */
/* .heading{
    text-align: center;
    color: royalblue;
    position:fixed;
}
.navbar ul{
    overflow: auto;
    padding: 1px 20px;
}
.navbar{
    background-color:white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    border-top: 3px solid rgb(198, 182, 182);
} */ 
/* .navbar li{
    float: left;
    list-style: none;
    margin:0px 5%;
    text-align:justify;
} */
/* .navbar li a{
    padding: 1px 3px;
    text-decoration: none;
    color: indianred;
} */
/* img{
    height: 40px;
   
} */